---
layout: default
---
<meta charset="utf-8" />
<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
<div class="posts">
    {% for post in paginator.posts %}
    <article class="post">

        <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

        <div class="entry">
            {% if post.content contains '<!--more-->' %}

            {{ post.excerpt }}

            {% else %}

            {{ post.excerpt | markdownify | strip_html | truncate: 160 }}

            {% endif %}
        </div>

            <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Tempo de leitura&nbsp;&#183;{% include read-time.html content=post.content %}</a> 
    </article>
    {% endfor %}

    {% include pagination.html %}
</div>
